* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body.dark {
  background: #121212;
  color: white;
}

body.dark .readNav {
  background-color: #1e1e1e;
  color: pink;
}

body.dark .pages {
  background-color: #1a1a1a;
  color: #ddd;
}

.layout {
  display: flex;
}
